{# src/OC/CoreBundle/Resources/view/General/Contact.html.twig #}

{% extends "OCCoreBundle::LayoutGeneral.html.twig" %}

{% block title %}
  Page d'accueuil - {{ parent() }}
{% endblock %}

{% block MainContent %}
  <h3>Formulaire de contact</h3>
   <div class="well">
    Ici se trouvera le formulaire de contact.
  </div>
{% endblock %}
